:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:lang(zh-Hant) {
  font-family: 'Noto Sans TC', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.caption {
  font-size: 12px;
  letter-spacing: 0.4px;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #646cff;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 0;
  margin: 0;
}

section:not(.intro) {
  display: none;
  width: 100%;
  min-height: 100vh;
}

.intro {
  background-color: #D7FFB8;
}

.intro-block {
width: 65%;
}

#header-logo {
  height: 6em;
  padding: 1.5em;
}

.buttons {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 2em;
}

button.primary {
  border-radius: 10px;
  border: 1px solid #000;
  margin: 0.6em;
  padding: 0.8em 1.2em;
  font-size: 0.875em;
  letter-spacing: 1.25px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: border border-color 0.25s;
}

button.primary:hover {
  border: 2px solid #000;
  border-color: #646cff;
}

button.primary:active {
  box-shadow: -4px, 4px, 8px, rgba(0, 0, 0, 0.1);
}

button.secondary {
  border: none;
  margin: 0.6em;
  padding: 0.6em 1.2em;
  font-size: 0.875em;
  letter-spacing: 1.25px;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

button.secondary:hover {
  text-decoration: underline;
  text-decoration-color: #646cff;
  text-decoration-thickness: 2px;
}

.fa-volume-high {
  color: red;
}

.warning {
  font-style: italic;
  font-weight: 500;
  color: red;
  display: none;
}

.background {
  background-image: url(/images/background-map.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
  overflow: hidden;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.content {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 2em;
}
.content:not(#start) {
  margin-top: 70vh;
}

.copy {
  background: #D7FFB8;
  border: 2px solid #000000;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
  padding: 1.5em 2em;
  width: fit-content;
  max-width: 65%;
}

.gallery {
  display: flex;
  flex-direction:row;
  align-items: center;
  place-content: center;
  padding: 2em 4em;
}

.content-image {
  height:6em;
  margin: 0px 10px;
}

.scooter {
  height:6em;
  margin: 0px -10px;
}

.breakfast {
  height:6em;
  margin: 0px 0px;
}
.scooter#scooter-1 {
  height: 7em;
  margin: 0px -30px;
}

.content-image#breakfast-1 {
  height: 4em;
  margin: 0px 10px;
}

/* p.content {
  width: 40%;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */